
@using NewsWebsite.ClassesForNewsWebsite
@model NewsDataAccess.News
@{
    Layout = null;
}

<p>@Resources.Texts.EditorForNews_Header</p>
<input type="text" name="Header" />
<p>@Resources.Texts.EditorForNews_Body</p>
<textarea name="Body"></textarea>
<p>@Resources.Texts.EditorForNews_HotNews</p>
<input type="checkbox" name="HotNews" />
<p>@Resources.Texts.EditorForNews_Advertising</p>
@Html.EnumDropDownListFor(m => )
