
@using System.Web.Optimization
@using RaceWebsite.App_Start
@using RaceWebsite.ClassesForRaceWebsite
@using RaceWebsite.ClassesForRaceWebsite.Helpers

@model RaceWebsite.Models.RaceParticipantsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/Main.css" rel="stylesheet"/>
    @Scripts.Render(BundleConfig.VirtualPathForJqueryBundle)
    @Scripts.Render(BundleConfig.VirtualPathForUpdatingRaceParticipantsInfoBundle)
</head>
<body>
    <div class="FlexColumnCenter">
        @Html.ActionLink(Resources.Texts.LinkToMainPageForAdmin, "Index", new { controller = "Admin", area = "Admin" })
        @Html.ActionLink(Resources.TextsForLoginAndRegistration.LinkToLoginAndRegistrationPage, "PageForLoginAndRegistration", new { controller = "LoginAndRegistrationForAdmins", area = "" })
        <h1>@Resources.Texts.RaceWebsiteMainPage</h1>
        <input type="hidden" id="HiddenFieldNewRaceCanBeCreated" value="@Model.CurrentRaceManager.NewRaceCanBeCreated.ToString()" /> 
        <input type="hidden" id="HiddenFieldThisIsAdminPage" value="False" />
        <input type="hidden" id="HiddenFieldCurrentFinishDistance" value="@Model.CurrentRaceManager.CurrentFinishDistance.ToString()"/>
        <div id="DivWithRaceParticipants">
            @Html.Partial(ApplicationConstants.PathFromRouteToRaceParticipantsPartialView, Model)
        </div>
    </div>
    <script>      
        @JSGenerator.JSResourcesObject(Resources.JSFile_UpdatingRaceParticipantsInfo.ResourceManager)
    </script>
</body>
</html>
