
@using System.Web.Optimization
@using RaceWebsite.App_Start
@using RaceWebsite.ClassesForRaceWebsite

@model RaceWebsite.Models.RaceParticipantsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/Main.css" rel="stylesheet"/>
    @Scripts.Render(BundleConfig.VirtualPathForJqueryBundle)
    @Scripts.Render(BundleConfig.VirtualPathForUnobtrusiveAjaxBundle)
    @Scripts.Render(BundleConfig.VirtualPathForUpdatingRaceParticipantsInfoBundle)
</head>
<body>
    <div class="FlexColumnCenter">
        @using (Ajax.BeginForm("StartNewRace", new { controller = "Admin", area = "Admin" }, new AjaxOptions
        {
            UpdateTargetId = "DivWithRaceParticipants",
            OnSuccess = "UpdatingRaceParticipantsInfo.StartUpdate()",
            OnBegin = "UpdatingRaceParticipantsInfo.PreparePageForUpdating()"
        }, new { id = "AjaxFormForChangingOfRaceParticipantsView" }))
        {
            <input type="submit" id="StartNewRaceButton" value="@Resources.Texts.ButtonStartRace" disabled/>
            <p>@Resources.Texts.PEnterFinishDistance</p>
            <input type="number" id="InputForNewFinishDistance" name="NewFinishDistance" value="@Model.CurrentRaceManager.CurrentFinishDistance.ToString()" disabled />
        }
        <span class="ShowOnlyWhenRaceAlreadyStarted">@Resources.Texts.SpanRaceHasAlreadyStartedYouMustWait</span>
        <input type="hidden" id="HiddenFieldNewRaceCanBeCreated" value="@Model.CurrentRaceManager.NewRaceCanBeCreated.ToString()" />  
        <div id="DivWithRaceParticipants">
            @Html.Partial(ApplicationConstants.PathFromRouteToRaceParticipantsPartialView, Model)
        </div>
    </div>
</body>
</html>
