
@using RaceWebsite.ClassesForRaceWebsite

@model RaceWebsite.Models.RaceParticipantsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/Main.css" rel="stylesheet"/>
</head>
<body>
    <div class="FlexColumnCenter">
        @if (Model.CurrentRaceManager.NewRaceCanBeCreated)
        {
            <div>
                <input type="button" id="StartNewRaceButton" value="@Resources.Texts.ButtonStartRace" />
            </div>
        }
        else
        {
            <div>
                <input type="button" id="StartNewRaceButton" value="@Resources.Texts.ButtonStartRace" disabled/>
            </div>
            <span>@Resources.Texts.SpanRaceHasAlreadyStartedYouMustWait</span>
            <input type="hidden" id="HiddenFieldWithFinishDistance" value="@Model.CurrentRaceManager.CurrentFinishDistance.ToString()"/>
        }
        @Html.Partial(ApplicationConstants.PathFromRouteToCarsCollectionPartialView, Model); 
    </div>
</body>
</html>
