
@using System.Web.Optimization
@using RaceWebsite.App_Start
@using RaceWebsite.ClassesForRaceWebsite
@using RaceWebsite.ClassesForRaceWebsite.Helpers

@model RaceWebsite.Models.RaceParticipantsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/Main.css" rel="stylesheet"/>
    @Scripts.Render(BundleConfig.VirtualPathForJqueryBundle)
    @Scripts.Render(BundleConfig.VirtualPathForUnobtrusiveAjaxBundle)
    @Scripts.Render(BundleConfig.VirtualPathForUpdatingRaceParticipantsInfoBundle)
</head>
<body>
    <div class="FlexColumnCenter">
        @Html.ActionLink(Resources.Texts.LinkToMainPageForUsers, "Index", new { controller = "Home", area = "" })
        @using (Ajax.BeginForm("StartNewRace", new { controller = "Admin", area = "Admin" }, new AjaxOptions
        {
            UpdateTargetId = "DivWithRaceParticipants",
            OnBegin = "UpdatingRaceParticipantsInfo.PreparePageForUpdating()"
        }, new { id = "AjaxFormForChangingOfRaceParticipantsView" }))
        {
            <input type="submit" id="StartNewRaceButton" value="@Resources.Texts.ButtonStartRace" disabled/>
            <p>@Resources.Texts.PEnterFinishDistance</p>
            <input type="number" class="InputForInt64" id="InputForNewFinishDistance" name="NewFinishDistance" value="@Model.CurrentRaceManager.CurrentFinishDistance.ToString()" disabled 
                   min="@ApplicationConstants.MinValueForFinishDistance" max="@ApplicationConstants.MaxValueForFinishDistance"/>
        }
        <span class="ShowOnlyWhenRaceAlreadyStarted" style="display:none">@Resources.Texts.SpanRaceHasAlreadyStartedYouMustWait</span>
        <input type="hidden" id="HiddenFieldNewRaceCanBeCreated" value="@Model.CurrentRaceManager.NewRaceCanBeCreated.ToString()" /> 
        <input type="hidden" id="HiddenFieldThisIsAdminPage" value="True"/> 
        <div id="DivWithRaceParticipants">
            @Html.Partial(ApplicationConstants.PathFromRouteToRaceParticipantsPartialView, Model)
        </div>
    </div>
    <script>
        @JSGenerator.JSResourcesObject(Resources.JSFile_UpdatingRaceParticipantsInfo.ResourceManager)
    </script>
</body>
</html>
