
@using SimpleChat.Models

@model SimpleChat.Models.UserChatPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link  href="~/CSS/MainStyleSheet.css" rel="stylesheet"/>
</head>
<body>
    <div> 
        @using (Html.BeginForm("AddNewMessage", "Home", new { area = "" }, FormMethod.Post))
        {
            <div class="MarginCenterTextToRight TableLikeUserForm">
                <div>
                    <p>Your name:</p>
                     @Html.TextBoxFor(CurrentUser => CurrentUser.UserName)
                    <div>
                        jkjkjk
                    </div>
                </div>
                <div>
                    <p>Message:</p>
                    @Html.TextBoxFor(CurrentUser => CurrentUser.UserMessage)
                    <input type="submit" value="Отправить сообщение" />
                </div>
            </div>
        }

        @using (Html.BeginForm("RefreshMessagesOnUserPage", "Home", new { area = "" }, FormMethod.Post))
        {
            <input type="submit" value="Обновить список сообщений" />

            <div>
                <div class="FlexRow">
                    @Html.RadioButtonFor(model => model.SortingForMessages, UserChatPage.DoNotSortMessages)
                    <p>@UserChatPage.DoNotSortMessages</p>
                </div>
                <div class="FlexRow">
                    @Html.RadioButtonFor(model => model.SortingForMessages, UserChatPage.SortMessagesByUserName)
                    <p>@UserChatPage.SortMessagesByUserName</p>
                </div>
                <div class="FlexRow">
                    @Html.RadioButtonFor(model => model.SortingForMessages, UserChatPage.SortMessagesByDate)
                    <p>@UserChatPage.SortMessagesByDate</p>
                </div>
            </div>

            foreach (var CurrentUserMessage in Model.LastMessages)
            {
                <div class="DivWithSolidBlackBorder">
                    <p>@CurrentUserMessage.Date.ToString()</p>
                    <p>From @CurrentUserMessage.UserName.ToString()</p>
                    <p>@CurrentUserMessage.Message</p>
                </div>
            }
        }
    </div>
</body>
</html>
