@model RaceInfrastructure.Racer

@{
    Layout = null;
}
<span>@Resources.Texts.SpanFirstName</span>
<input type="text" name="FirstName" value="@Model.FirstName" />
<span>@Resources.Texts.SpanSecondName</span>
<input type="text" name="SecondName" value="@Model.SecondName" />
<span>@Resources.Texts.SpanBiography</span>
<textarea name="Biography" >@Model.Biography</textarea>
<span>@Resources.Texts.SpanCarName</span>
<input type="text" name="CarName" value="@Model.CarName" />
<span>@Resources.Texts.SpanCarSpeed</span>
<input type="text" name="CarSpeedKph" value="@Model.CarSpeedKph" />
<span>@Resources.Texts.SpanColor</span>
<input type="color" name="ColorCode" value="#@Model.ColorCode"/>

