
@using RaceInfrastructure
@using RaceWebsite.ClassesForRaceWebsite

@model RaceWebsite.Models.RaceParticipantsModel

@{
    Layout = null;
}

<span>@Resources.Texts.SpanParticipants</span>
@if (Model.AdminIsHere)
{
    if (Model.CurrentRaceManager.NewRaceCanBeCreated)
    {
        foreach (Racer CurrentRacer in Model.CurrentRaceManager.RaceRepository.AllRacers)
        {
            using (Html.BeginForm("EditRacerInfo","Admin", new { area = "Admin"}))
            {
                <span>@CurrentRacer.FirstName @CurrentRacer.SecondName</span>
                <input type="hidden" name="SelectedRacerID" value="@CurrentRacer.RacerID.ToString()" />
                <input type="submit" value="@Resources.Texts.EditButton" />
            }
        }
    }
    else
    {
        foreach (Racer CurrentRacer in Model.CurrentRaceManager.RaceRepository.AllRacers)
        {
            using (Html.BeginForm("RacerInfo", "Home", new { area = "" }, FormMethod.Post, new { id = "RacerID_" + CurrentRacer.RacerID.ToString() }))
            {
                <p>@CurrentRacer.FirstName @CurrentRacer.SecondName @Resources.Texts.PDistanceCovered: @CurrentRacer.DistanceCoveredInKm/@Model.CurrentRaceManager.CurrentFinishDistance.ToString() 
                    @Resources.Texts.PKilometers
                </p>
                <input type="hidden" name="SelectedRacerID" value="@CurrentRacer.RacerID.ToString()" />
                <input type="submit" value="@Resources.Texts.DetailsButton" />
            }
        }
    }

}
