
@model NewsWebsite.ClassesForNewsWebsite.NewsForPartialView

@{
    Layout = null;
}

@using (Html.BeginForm("ShowSelectedNews", "News", new { area = "News" }, FormMethod.Post))
{
    <div>
        <p>@Model.Header</p>
        @if (!Model.Selected)
        {
            <input type="submit" value="@Resources.Texts.ButtonDetailsAboutNews" />
        }
        <input type="hidden" value="@Model.NewsID" name="SelectedNewsID" />
        <input type="submit" value="@Resources.Texts.LinkToPrintVersion" name="NewsPrintVersion" />
    </div>
    <p>@Model.Body</p>
    <div>
        <p>@Model.Date.ToString()</p>
    </div>
}




